.bgimage__header {
  position: absolute;
  background-image: url(/Lease\ car\ Vova/img/header/slide-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  //   background-attachment: scroll;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
}
