.open {
  display: flex !important;
}

.header {
  background-image: url(../img/header/slide-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header__contact {
  background-image: none;
  background-color: $black;
}
.header__inner {
  padding: 40px 0 45px 0;
  display: flex;
  justify-content: space-between;

  align-items: flex-end;

  .menu__list {
    display: flex;
    gap: 35px;

    flex-wrap: wrap;
  }
}

.contact__link,
.new_cars-link {
  color: $blue;
}

.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;

  span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: white;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease 0s;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }

  &.active span {
    transform: scale(0);
  }
  &.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }

  &.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
}
