@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}

h1 {
  font-family: $font-main;
  font-weight: 700;
  font-size: 96px;
  color: $white;
  cursor: default;
}

h2 {
  font-family: $font-main;
  font-weight: 700;
  font-size: 48px;
  color: $black;
  cursor: default;

  line-height: 1.21;
}

h4 {
  font-family: $font-main;
  font-weight: 700;
  font-size: 24px;
  color: $black;
  cursor: default;

  line-height: 1.21;
}

p {
  font-family: $font-main;
  font-weight: 400;
  font-size: 16px;
  color: $black;
  cursor: default;

  line-height: 1.3;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  height: auto;
}

a {
  font-family: $font-main;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.21;

  color: white;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  transition: color 0.2s ease-in-out;

  &:hover {
    color: $blue;
  }
}

.button {
  font-size: 36px;
  color: $white;

  font-family: $font-main;
  font-weight: 700;

  background-color: $black;
  padding: 23px 112.5px;

  transition: background-color 0.2s ease-in-out;

  &:hover {
    color: $white;
    background-color: $blue;
  }
}
